{% extends '../../store/base.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}



<div class="container" style="max-width: 1000px">
<div class="col-12">
    <h1 class="h2"> Your dashboard </h1>
</div>


        <div class="col d-flex justify-content-between">
            <h1>Manage your orders and personal details</h1>
        </div>

            <div> <a href="">Change details </a> </div>

    <div class="container" style="max-width: 1000px">
</div>
</div>

{% endblock %}